@import "tailwindcss";

.main-container {
  @apply flex flex-col text-center justify-center;
}

.nav {
  @apply bg-white top-0 left-0 right-0 z-10
}

.nav-header-container {
  @apply bg-blue-600 text-white py-4 px-6
}

.nav-header {
  @apply text-xl font-bold
}

.nav-links {
  @apply flex space-x-4 p-4 justify-center
}

.nav-link {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition duration-200 ease-in-out transform hover:scale-105
}