.container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background: white;
}

.formsWrapper {
  align-items: start;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.categoryTabs {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.imageRow {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.imageContainer {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 4px;
}

.label {
  font-weight: bold;
  color: #333;
  margin-bottom: 4px;
  font-size: 14px;
}

.photosLable {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

.select {
  width: 228px;
}

.input:focus {
  outline: none;
  border-color: #c8a97e;
}

.input[type="file"]::file-selector-button {
  background-color: #c8a97e;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  float: right;
}

.hidden {
  display: none;
}

.createdAt {
  color: #666;
  font-size: 12px;
  margin: 8px 0 0 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  height: 100%;
}

.btn {
  background: #c8a97e;;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #a67c52;
}

.editBtn {
  background: #c8a97e;
  color: white;
  float: left;
  margin: 5px;
  margin-left: 33%;
}

.editBtn:hover {
  background: #a67c52;
}

.deleteBtn {
  background: #e74c3c;
  color: white;
  float: left;
  margin: 5px;
}

.deleteBtn:hover {
  background: #c0392b;
}

.createBtn {
  margin-top: 10px;
  float: right;
}

/* Адаптивность */
@media (max-width: 768px) {
  .formsWrapper {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
  }
}